<!DOCTYPE html>
<%- contentFor('secao') %>

<table>
	<tr>
		<th>Usuario</th>
		<th>Validação</th>
		<th>Adm</th>
		<th>Invalidar</th>
	</tr>
	<% var cont = 0 %>
	<% for(cont= 0; cont< nomes.length; cont++ ){ %>	
		<tr>
			<td><%= nomes[cont] %></td>
			<td>
				<% if(validation[cont] == 0){ %>		
					<a href="<%= "/admin/validar/"+nomes[cont] %>">Validar?</a>
				<% } else { %>
					VÁLIDO
				<% } %>
			</td>
			<td>
				<% if(admins[cont] == 0){ %>
					<a href="<%= "/admin/promover/"+nomes[cont] %>">TORNAR ADMIN</a>
				<% }else{ %>
					ADMIN
				<% } %> 		
			</td>
			<td>
				<a href="<%= "/admin/remover/"+nomes[cont] %>">SIM</a></td>
		</tr>
	<% } %>

</table>


<%- contentFor('script') %>