<!DOCTYPE html>

<%- contentFor('secao') %>
<% if(ultimaReceita != 0) {%>
	<div class="recipe_display">
		  <a href=<%= "receita/"+ ultimaReceita %> > 
		    <h2 id="nome_receita">
		      <%= 'Última: '+ dadosReceitas[ultimaReceita][0] %>
		    </h2>
    	</a>
    	<% path_da_imagem = "/receitas/"+ultimaReceita+"/receita.jpg" %>
    	<img src="<%-path_da_imagem%>">
	    <div>
	    	<div class="nota">Nota:
	 				<% nota = parseInt(dadosReceitas[ultimaReceita][1]); %>
 				 	<% var contagem = 0; %>
				  <% for( ; contagem < nota ; contagem++) { %>
				  	<i class="fas fa-star"></i>
				 	<% } %>
				 	<% for ( ; contagem < 5 ; contagem = contagem + 1) { %>
				 		<i class="far fa-star"></i>
				 	<% } %> 
				</div><!-- NOTA -->
				<br><br>
				<% console.log('-----------------') %>
				<% console.log(logado) %>
				<% if(logado == true) { %>
					<a href=<%= "receita/edit/"+ ultimaReceita %> >Editar</a>
					<br>
					<a href=<%= "apagar/"+ ultimaReceita %> onclick="return confirm('Tem certeza que quer apagar esta receita?');">Apagar</a>
				<% } %>
	    </div>	
	  </div>
<% } %>
<script>
	console.log("=================================");
</script>
<% for( var count = 0;count< receitas.length; count++) { %>
	<script>
		console.log(<%= count %>);
	</script>
  <% if(receitas[count] != ultimaReceita) { %>
	  <div class="recipe_display">
	  	<a href=<%= "receita/"+ receitas[count] %> >
		    <h2 id="nome_receita">
		      <%= dadosReceitas[receitas[count]][0] %>
		    </h2>
	    </a>
    	<% path_da_imagem = "/receitas/"+receitas[count]+"/receita.jpg" %>
    	<img src="<%-path_da_imagem%>">
	    <div>
	    	<div class="nota">Nota:
	 				<% nota = parseInt(dadosReceitas[receitas[count]][1]); %>
 				 	<% var contagem = 0; %>
				  <% for( ; contagem < nota ; contagem++) { %>
				  	<i class="fas fa-star"></i>
				 	<% } %>
				 	<% for ( ; contagem < 5 ; contagem = contagem + 1) { %>
				 		<i class="far fa-star"></i>
				 	<% } %> 
				</div><!-- NOTA -->
	    	<br><br>
	    	<% if(logado == true) { %>
		    	<a href=<%= "receita/edit/"+ receitas[count] %> >Editar</a>
		    	<br>
		    	<a href=<%= "apagar/"+ receitas[count] %> onclick="return confirm('Tem certeza que quer apagar esta receita?');">Apagar</a>
	    	<% }%>
	    </div>	
	  </div>
  <% } %>
<% } %>

</div>

<style>
	a {
		text-decoration: none;
	}
</style>

<%- contentFor('script') %>
